Repository princekyleaedam/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, npm exec -- prisma format

.lintstagedrc:

{
	"*.{j,t}s{,x}": "npm exec -- eslint --fix",
	"*.prisma": "npm exec -- prisma format"
}

Clean up unneeded id suffix on deleted account names
  src/services/user.ts
Due: npm exec -- eslint --fix

patch error messages for login
  src/public/login.html
Due: none

maybe this will work instead
  src/public/login.html
Due: none

Update 1020
  prisma/schema.prisma
Due: npm exec -- prisma format

Update 1020
  prisma/migrations/20251020132538_init/migration.sql
Due: none

Update 1020
  src/config/auth.ts
  src/config/database.ts
  src/config/pixel.ts
  src/index.ts
  src/middleware/auth.ts
  src/middleware/errorHandler.ts
  src/public/login.html
  src/routes/admin.ts
  src/routes/alliance.ts
  src/routes/auth.ts
  src/routes/favorite-location.ts
  src/routes/leaderboard.ts
  src/routes/me.ts
  src/routes/moderator.ts
  src/routes/pixel.ts
  src/routes/report-user.ts
  src/routes/store.ts
  src/services/alliance.ts
  src/services/auth.ts
  src/services/leaderboard.ts
  src/services/pixel.ts
  src/services/rate-limiter.ts
  src/services/region.ts
  src/services/ticket.ts
  src/services/user.ts
  src/types/index.ts
  src/utils/bitmap.ts
  src/utils/charges.ts
  src/utils/colors.ts
  src/utils/country.ts
  src/utils/error.ts
  src/utils/levels.ts
  src/utils/response.ts
  src/utils/unique-name.ts
  src/validators/common.ts
  src/validators/pixel.ts
  src/validators/user.ts
Due: npm exec -- eslint --fix

Update 1020
  scripts/drop-indexes-pixel.ts
  scripts/init-leaderboard.ts
  scripts/migrate-pixel-regions.ts
  scripts/migrate-region-stats.ts
  scripts/update-alliance-joined-at.ts
  scripts/update-user-pixels.ts
Due: npm exec -- eslint --fix

Update 1020
  .env.example
Due: none

Update SETUP_MACOS.md
  SETUP_MACOS.md
Due: none

Update SETUP_WINDOWS.md
  SETUP_WINDOWS.md
Due: none

no limit amount for purchase
  src/routes/store.ts
Due: npm exec -- eslint --fix

fix duplicate stats record when user leaves alliance and joins another alliance
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Delete src/services/leaderboard-cache.ts
  src/services/leaderboard-cache.ts
Due: npm exec -- eslint --fix

using UTC timezone instead GMT timezone
  src/services/pixel.ts
Due: npm exec -- eslint --fix

using UTC timezone instead GMT timezone
  src/services/leaderboard.ts
Due: npm exec -- eslint --fix

stupid move
  prisma/migrations/20251020132538_init/migration.sql
Due: none

stupid move
  prisma/schema.prisma
Due: npm exec -- prisma format

revert to gmt
  src/services/leaderboard.ts
Due: npm exec -- eslint --fix

Update pixel.ts
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Fix duplicate index
  prisma/schema.prisma
Due: npm exec -- prisma format

Fix migration
  prisma/migrations/20251020132538_leaderboard/migration.sql
Due: none

Lint and tidy up
  scripts/drop-indexes-pixel.ts
  scripts/init-leaderboard.ts
  scripts/migrate-region-stats.ts
  scripts/setup.ts
  scripts/update-alliance-joined-at.ts
  scripts/update-user-pixels.ts
  src/config/database.ts
  src/index.ts
  src/routes/admin.ts
  src/routes/auth.ts
  src/routes/me.ts
  src/routes/moderator.ts
  src/routes/report-user.ts
  src/routes/store.ts
  src/services/alliance.ts
  src/services/auth.ts
  src/services/leaderboard.ts
  src/services/pixel.ts
  src/services/rate-limiter.ts
  src/services/region.ts
  src/services/ticket.ts
  src/services/user.ts
  src/utils/unique-name.ts
  src/validators/user.ts
Due: npm exec -- eslint --fix

Move admin stuff (for later)
  frontend2/app/components/admin/Footer.vue
  frontend2/app/components/admin/Header.vue
Due: none

Clean up overlays layout, add satellite button
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
  frontend2/app/components/Map.vue
  frontend2/app/components/PaintButton.vue
  frontend2/app/components/UserAvatar.vue
  frontend2/public/icons/map_satellite.svg
  frontend2/public/icons/map_vector.svg
Due: none

update packages
  frontend2/package-lock.json
  package-lock.json
Due: none

Fix bootstrap import
  frontend2/package-lock.json
  frontend2/package.json
  pnpm-lock.yaml
Due: none

add user id parsing into the frontend profile
  frontend2/app/components/App.vue
  frontend2/app/components/UserMenu.vue
Due: none

Head stuff
  frontend2/nuxt.config.ts
Due: npm exec -- eslint --fix

Check for any flag, not just flag equipped
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Add Discord linking and reduced cooldown for supporters
  .env.example
  package-lock.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20251027120032_user_discord_id/migration.sql
  prisma/schema.prisma
  src/config/auth.ts
  src/discord/bot.ts
  src/index.ts
  src/middleware/auth.ts
  src/public/account.css
  src/public/discord-link.html
  src/public/discord-unlink.html
  src/public/login.html
  src/routes/auth.ts
  src/routes/discord.ts
  src/services/discord.ts
  src/services/user.ts
Due: npm exec -- eslint --fix, npm exec -- prisma format

Fix some stuff from new eslint rules
  src/routes/leaderboard.ts
  src/services/leaderboard.ts
  src/services/pixel.ts
  src/services/rate-limiter.ts
  src/services/region.ts
  src/services/user.ts
  src/types/index.ts
Due: npm exec -- eslint --fix

Update eslint to 9.0
  .eslintrc
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: npm exec -- eslint --fix

Updates
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

Fix validation of changing Discord username while linked
  src/routes/me.ts
  src/services/user.ts
Due: npm exec -- eslint --fix

Fix PartialMember type error
  src/discord/bot.ts
Due: npm exec -- eslint --fix

Update roles immediately on linking
  src/discord/bot.ts
  src/routes/discord.ts
Due: npm exec -- eslint --fix

Fix not sending Discord user id in /me
  src/services/user.ts
Due: npm exec -- eslint --fix

We were supposed to update on unlink too
  src/routes/discord.ts
Due: npm exec -- eslint --fix

Actually handle resetting cooldown on unlink properly
  src/discord/bot.ts
  src/routes/discord.ts
  src/services/discord.ts
Due: npm exec -- eslint --fix
