Repository princekyleaedam/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, npm exec -- prisma format

.lintstagedrc:

{
	"*.{j,t}s{,x}": "npm exec -- eslint --fix",
	"*.prisma": "npm exec -- prisma format"
}

Use BannedIP for user bans
  .env.example
  prisma/migrations/20251012110256_bannedip_user/migration.sql
  prisma/migrations/20251012111830_bannedip_nonunique/migration.sql
  prisma/schema.prisma
  src/routes/auth.ts
  src/routes/pixel.ts
  src/services/auth.ts
  src/services/pixel.ts
  src/services/user.ts
Due: npm exec -- eslint --fix, npm exec -- prisma format

Ban other users with same IP immediately
  src/services/auth.ts
  src/services/user.ts
Due: npm exec -- eslint --fix

Fix upsert in import-ip-list
  scripts/import-ip-list.ts
Due: npm exec -- eslint --fix

Fix logged pixel count
  scripts/import-ip-list.ts
  src/routes/pixel.ts
Due: npm exec -- eslint --fix

Better logs for login/logout and painting
  src/routes/auth.ts
  src/routes/pixel.ts
Due: npm exec -- eslint --fix

add indexes
  prisma/schema.prisma
Due: npm exec -- prisma format

add indexes
  prisma/migrations/20251012175501_add_indexes/migration.sql
Due: none

add leaderboard ttl cache
  src/services/leaderboard-cache.ts
Due: npm exec -- eslint --fix

add use leaderboard cache and fix #28
  src/routes/leaderboard.ts
Due: npm exec -- eslint --fix

add time filter for alliance leaderboard thanks madness
  src/services/alliance.ts
Due: npm exec -- eslint --fix

add delete account endpoint
  src/routes/me.ts
Due: npm exec -- eslint --fix

add implement delete account
  src/services/user.ts
Due: npm exec -- eslint --fix

Windows issues - EPERM: operation not permitted
  package.json
Due: none

Update SETUP_WINDOWS.md
  SETUP_WINDOWS.md
Due: none

Update SETUP_MACOS.md
  SETUP_MACOS.md
Due: none

add more indexes
  prisma/migrations/20251012175501_add_indexes/migration.sql
Due: none

add more indexes
  prisma/schema.prisma
Due: npm exec -- prisma format

add leaderboard ttl cache
  .env.example
Due: none

resolve mods leaderboard frontend error
  src/routes/admin.ts
Due: npm exec -- eslint --fix

Skip mod with total of 0
  src/routes/admin.ts
Due: npm exec -- eslint --fix

show 100% at the end (looks cleaner) did show 91.4% for me
  scripts/setup.ts
Due: npm exec -- eslint --fix

add find nearest known region by distance (over oceans/poles)
  src/services/region.ts
Due: npm exec -- eslint --fix

fix invalid params
  src/routes/leaderboard.ts
Due: npm exec -- eslint --fix

Update region.ts
  src/services/region.ts
Due: npm exec -- eslint --fix

Optimize region lookup
  prisma/migrations/20251014221359_add_region_spatial_indexes/migration.sql
Due: none

Optimize region lookup
  prisma/schema.prisma
Due: npm exec -- prisma format

Fix IP address handling early
  src/index.ts
Due: npm exec -- eslint --fix

Optimize region lookup
  src/services/region.ts
Due: npm exec -- eslint --fix

Optimize painted pixel
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Validate IP address format
  src/services/auth.ts
Due: npm exec -- eslint --fix

Give region transactions a 15 sec timeout now
  scripts/setup.ts
Due: npm exec -- eslint --fix

fix: validate product amount
  src/routes/store.ts
Due: npm exec -- eslint --fix

Only allow integer amounts for all purchases
  src/routes/store.ts
Due: npm exec -- eslint --fix

Nicer fallback than null island when no pixels exist
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Fix most lint warnings
  src/index.ts
  src/routes/admin.ts
  src/routes/moderator.ts
  src/routes/report-user.ts
  src/services/alliance.ts
  src/services/auth.ts
  src/services/leaderboard-cache.ts
  src/services/region.ts
  src/services/ticket.ts
Due: npm exec -- eslint --fix

Quick admin sample
  admin/.gitignore
  admin/app/app.vue
  admin/app/assets/common.scss
  admin/app/components/DrawImage.vue
  admin/app/components/footer.vue
  admin/app/components/header.vue
  admin/app/layouts/default.vue
  admin/app/pages/index.vue
  admin/cmd.sh
  admin/docker-compose.yml
  admin/nuxt.config.ts
  admin/package-lock.json
  admin/package.json
  admin/prisma/schema.prisma
  admin/public/favicon.ico
  admin/public/robots.txt
  admin/server/api/paint.ts
  admin/tsconfig.json
  admin/utils/helpers.ts
  admin/utils/palette.ts
Due: npm exec -- eslint --fix, npm exec -- prisma format

Use parent prisma directory instead of duplicate it and change local port back to 3000
  admin/docker-compose.yml
  admin/nuxt.config.ts
  admin/package-lock.json
  admin/prisma/schema.prisma
Due: npm exec -- eslint --fix, npm exec -- prisma format

Create dummy users
  admin/app/components/DummyUser.vue
  admin/app/pages/index.vue
  admin/docker-compose.yml
  admin/package-lock.json
  admin/package.json
  admin/server/api/dummy-user.ts
Due: npm exec -- eslint --fix

Paint dummy pixels
  admin/app/components/DummyPixel.vue
  admin/app/pages/index.vue
  admin/server/api/dummy-pixel.ts
Due: npm exec -- eslint --fix
